/* react-app/src/App.css */
.App {
  text-align: left;
  margin: 20px;
}

table {
  width: 100%;
  max-width: 500px; /* Set the maximum width of the table */
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}

th,
td {
  min-width: 100px;
  max-width: 1000px;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

td.log-column {
  margin-left: 10px;
}

.placeholder {
  color: gray;
  font-style: italic;
  margin-bottom: 10px;
}
